
<ul class="commentList closed">
      
{{#each this}}
    <li class="comment">
        <p class="commentText">{{comment_text}}</p>
        <div class="commentInfo"><span class="author">{{user.username}}</span> {{created_at}}</div>
    </li>
 {{/each}}

 </ul>