<div class="comments m-2">
  {{#each this}}
  <section class="comment border border-dark mt-1 ml-3">
    <div class="text p-1 font-italic text-primary">
      {{comment_text}}
    </div>
    <div class="d-flex flex-column p-1">
        <button type="button" class="upvote-btn">upvote</button>
        <button type="button" class="downvote-btn">downvote</button>
    </div>
    <div class="meta p-1 font-weight-bold">
      - {{format_date created_at}}
    </div>
  </section>
  {{/each}}
</div>