{{> navbar}}

{{> post-info post }}
<div class="d-flex justify-content-center">
            <button class="addCommentBtn mt-4" style="width: 150px; height: 60px">Add Comment</button>

            <form class="addCommentForm closed col-10">
                <textarea type="text" class="commentTextArea p-2" style="height: 100px" name="commentTextArea"></textarea>
                <label for="commentTextArea"></label>
                <div class="btns">
                    <button class="cancel">Cancel</button>
                    <input class="submit" type="submit"></input>
                </div>
            </form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
<script src="/js/view-comments.js"></script>
<script src="/js/comment.js"></script>
<script src="/js/vote.js"></script>
<script src="/anime/upanddown.js"></script>