body {
  background-color: #eeeeee;
}

.nav-logo {
  width: 90px;
  height: 120px;
}

.logo {
  width: 300px;
  height: 400px;
}

.nav-btn {
  background: none !important;
  border: none;
  cursor: pointer;
}

.gradient-bg {
  background-image: linear-gradient(to right, rgb(28, 197, 76) , rgb(207, 234, 35));

}